<HTML>
<TITLE><%= node['demo-ecommerce']['company-name'] -%></TITLE>
  <BODY>
    <CENTER>
      <H1><%= node['demo-ecommerce']['company-name'] -%></H1>
      <BR><IMG SRC="sprockets.png" WIDTH="667" HEIGHT="509" ALT="Cogswell Cogs Sucks">
      <H2><A HREF="http://www.spacelyspacesprockets.info/cart">Click here to enter the store</A></H2>
    </CENTER>
  </BODY>
</HTML>